<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Idojuan Laundry and Dry cleaning Services</title>
        <link rel="stylesheet" href="css/laundry.css">
        <link rel="stylesheet" href="fonts/css/all.css">
        <link rel="shortcut icon" href="images/Laundry Logo design template - Made with PosterMyWall.png" type="image/x-icon">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" integrity="sha512-1cK78a1o+ht2JcaW6g8OXYwqpev9+6GqOkz9xmBN9iUUhIndKtxwILGWYOSibOKjLsEdjyjZvYDq/cZwNeak0w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <style>
                        ::-webkit-scrollbar {
                width: 12px; /* Width of the vertical scrollbar */
                height: 12px; /* Height of the horizontal scrollbar */
            }
            ::-webkit-scrollbar-thumb {
                background: #888; /* Scrollbar color */
                border-radius: 6px; /* Rounded corners */
            }
            ::-webkit-scrollbar-track {
            background: #d4d4d4; /* Track color */
            }
            ::-webkit-scrollbar-thumb:hover {
                background: #555; /* Darker color on hover */
}
        </style>
    </head>
    <body>
        <div class="preloader">
            <div class="pre-items position-relative">
                <span class="fas fa-cog" id="cog1"></span>
                <span class="fas fa-cog" id="cog2"></span>
                <span class="fas fa-cog" id="cog3"></span>
            </div>
        </div>
        <header>
            <a href="#" class="logo">Idojuan laundry</a>
            <div class="menuToggle" onclick="toggleMenu();"></div>
            <ul class="nav">
                <li><a href="#home" onclick="toggleMenu();">home</a></li>
                <li><a href="#about" onclick="toggleMenu();">about</a></li>
                <li><a href="#system" onclick="toggleMenu();">system</a></li>
                <li><a href="#pricing" onclick="toggleMenu();">pricing</a></li>
                <li><a href="#contact" onclick="toggleMenu();">contact</a></li>
            </ul>
        </header>
        <section class="home" id="home">
            <div class="content">
                <h2  data-aos="fade-up">idojuan laundry and dry cleaning services</h2>
                <p  data-aos="fade-up" data-aos-delay="100">Welcome to Idojuan Laundry and Dry Cleaning Services! We
                    provide exceptional garment care with top-quality cleaning
                    and attention to detail.
                    Trust us to keep your clothes looking their best.</p>
                <a href="#pricing" class="btn-1"  data-aos="fade-up" data-aos-delay="200">price</a>
            </div>
        </section>
        <section class="about" id="about">
            <div class="container">
                <div class="row">
                    <div class="col50" data-aos="fade-right">
                        <div class="titleText">
                            <span>A</span>bout us
                        </div>
                        <p>
                            <span>Idojuan Laundry And Dry Cleaning
                                Services</span><br><br>
                            We are committed to providing exceptional laundry
                            and dry cleaning solutions tailored to meet your
                            specific needs. Our mission is to deliver the
                            highest quality care for your garments, ensuring
                            they look and feel their best. With a team of
                            experienced professionals and state-of-the-art
                            equipment, we handle everything from everyday wear
                            to delicate fabrics with meticulous attention to
                            detail. Our services are designed for convenience
                            and excellence, offering reliable and efficient
                            cleaning that you can trust. Customer satisfaction
                            is our top priority. We strive to exceed your
                            expectations with every visit, ensuring a seamless
                            and satisfying experience. Choose Idojuan Laundry
                            And Dry Cleaning Services for unparalleled garment
                            care and discover the difference we can make for
                            your wardrobe.

                        </p>
                    </div>
                    <div class="col50" data-aos="fade-left">
                        <div class="imgbx">
                            <img src="images/pexels-ron-lach-10554836.jpg" alt>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col50" data-aos="fade-left">
                        <p>
                            <span>why choose us</span>,<br><br>
                            At Idojuan Laundry And Dry Cleaning Services, our
                            commitment to excellence sets us apart. Our
                            experienced team uses state-of-the-art equipment to
                            handle all types of fabrics with meticulous care.
                            Whether it’s everyday wear or delicate garments, we
                            ensure they look and feel their best. Our convenient
                            and efficient services are designed to exceed your
                            expectations every time.
                        </p>
                    </div>
                    <div class="col50" data-aos="fade-right">
                        <div class="imgbx">
                            <img src="images/pexels-pixabay-271711.jpg" alt>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col50 " data-aos="fade-right">
                        <p>
                            <span>our mission</span><br><br>
                            Our mission at Idojuan Laundry And Dry Cleaning
                            Services is to provide top-quality care for your
                            garments. We are dedicated to delivering exceptional
                            laundry and dry cleaning solutions tailored to meet
                            your specific needs. With our expert team and
                            advanced equipment, we handle everything with
                            precision and care, ensuring a seamless and
                            satisfying experience for our customers.

                        </p>
                    </div>
                    <div class="col50" data-aos="fade-left">
                        <div class="imgbx">
                            <img
                                src="images/pexels-karolina-grabowska-4959879.jpg"
                                alt>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="system" id="system">
            <div class="container">
                <div class="title" data-aos="fade-up">
                    <h2 class="titleText">our <span>s</span>ystem</h2>
                    <p>Our system processes clothes meticulously, starting with
                        careful sorting and washing using advanced technology
                        and eco-friendly products. Each garment is then dried,
                        ironed, and packaged with precision, ensuring pristine
                        results at every stage.</p>
                </div>

                <div class="row">
                    <div class="timeline">
                        <div class="row">

                            <div class="timeline-item">
                                <div class="timeline-item-inner" data-aos="fade-right">
                                    <i class="icon"></i>
                                    <span>administration</span>
                                    <h4>admin</h4>
                                    <p>Our administration team ensures smooth
                                        operations, from managing orders to
                                        overseeing quality control, guaranteeing
                                        efficient and reliable service.</p>
                                </div>
                            </div>

                            <div class="timeline-item">
                                <div class="timeline-item-inner" data-aos="fade-left">
                                    <i class="icon"></i>
                                    <span>washing stage</span>
                                    <h4>laundry attendant</h4>
                                    <p>Our laundry attendants handle the washing
                                        stage, ensuring every garment is
                                        thoroughly cleaned with care and
                                        precision.</p>
                                </div>
                            </div>

                            <div class="timeline-item">
                                <div class="timeline-item-inner" data-aos="fade-right">
                                    <i class="icon"></i>
                                    <span>drying stage</span>
                                    <h4>drying clerk</h4>
                                    <p>Our drying clerks manage the drying
                                        stage, using advanced techniques to
                                        preserve the quality and integrity of
                                        your garments.</p>
                                </div>
                            </div>

                            <div class="timeline-item">
                                <div class="timeline-item-inner" data-aos="fade-left">
                                    <i class="icon"></i>
                                    <span>ironing stage</span>
                                    <h4>ironing officer</h4>
                                    <p>Our ironing officers ensure each garment
                                        is perfectly pressed, delivering crisp
                                        and wrinkle-free results.</p>
                                </div>
                            </div>

                            <div class="timeline-item">
                                <div class="timeline-item-inner" data-aos="fade-right">
                                    <i class="icon"></i>
                                    <span>packaging stage</span>
                                    <h4>packaging officer</h4>
                                    <p>Our packaging officers carefully package
                                        your garments, ensuring they are ready
                                        for delivery in pristine condition.</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="pricing" id="pricing">
            <div class="container">
                <div class="title" data-aos="fade-up">
                    <h2 class="titleText">price <span>l</span>ist</h2>
                    <p>check out our price list</p>
                </div>
            </div>
            <div class="table" data-aos="fade-left" data-aos-anchor-placement="top-center">
                <table>
                    <thead>
                        <tr>
                           
                        </tr>
                    </thead>
                    <tbody class="dat">
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <section class="contact" id="contact">
            <div class="container">
                <div class="title" data-aos="fade-up">
                    <h2 class="titleText">contact <span>u</span>s</h2>
                    <p>Get in touch with us for any questions, feedback, or to
                        learn more about our services. We're here to help!</p>
                </div>
                <div class="box">
                    <form class="contact-form" id="contact-form" data-aos="fade-right">
                        <h3>send message</h3>
                        <div class="input-box" data-aos="fade-right" data-aos-delay="20">
                            <input type="text" placeholder="name" id="name" required>
                        </div>
                        <div class="input-box" data-aos="fade-right" data-aos-delay="40">
                            <input type="email" placeholder="email" id="mail" required>
                        </div>
                        <div class="input-box" data-aos="fade-right" data-aos-delay="60">
                            <textarea placeholder="message" id="info" required></textarea>
                        </div>
                        <div class="input-box" data-aos="fade-right" data-aos-delay="100">
                            <input type="submit" value="send" class="btn">
                        </div>
                        <p id="success-message"> <button id="clear"><i class="fas fa-times"></i></button>  message received </p>
                    </form>
                    
                    <div class="map" data-aos="fade-left">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15756.149034500775!2d7.3539399!3d9.1511077!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x104ddf5afabd6683%3A0x3121e9f963afd580!2sIdojuan%20Laundry%20and%20dry%20cleaning%20services!5e0!3m2!1sen!2sng!4v1722087592027!5m2!1sen!2sng"
                            allowfullscreen loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="icon-container" data-aos="fade-up" data-aos-delay="100">
                        <div class="icons" data-aos="fade-up">
                            <span>address:</span>
                            <p>Mosque shop 7 beside Ogab Services, Gado Nasko road 2/1, Kubwa, Abuja 901101, Federal Capital Territory</p>
                        </div>
                        <div class="icons" data-aos="fade-up" data-aos-delay="200">
                            <span>email:</span>
                            <p>Idoresltd@yahoo.com.</p>
                        </div>
                        <div class="icons" data-aos="fade-up" data-aos-delay="300">
                            <span>Phone number:</span>
                            <p>08063894359,08036303555</p>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <div class="cp">
            <p>&copy; 2024 <a href="#home">Idojuan Laundry and Dry Cleaning Services</a> all rights reserved</p>
            <h4><a href="login.html">admin</a></h4>
            <button id="arrow">&uparrow;</button>
        </div>
        <script>
            window.embeddedChatbotConfig = {
            chatbotId: "KoRqmiceZMTjrBE7eJ4_S",
            domain: "www.chatbase.co"
            }
            </script>
            <script
            src="https://www.chatbase.co/embed.min.js"
            chatbotId="KoRqmiceZMTjrBE7eJ4_S"
            domain="www.chatbase.co"
            defer>
            </script>

        <script src="laundry.js" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js" integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script>
            AOS.init({
                duration: 600,
            });
        </script>
    </body>
</html>